a {
    text-decoration: none;
}

body {
    background: #f9f9f9;
    font-family: "Poppins", sans-serif;
}

input:focus-visible {
    outline: none;
}

ul {
    display: flex;
    position: absolute;
    width: 599px;
    bottom: 0;
    left: -1 px;
    margin: 0;
    padding: 0;
    word-spacing: 0;
    border-left: 1px solid #000;
}

.climate {
    bottom: 5px;
    left: 20px;
   }

.current {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    background: linear-gradient(54deg,
        rgba(190, 194, 213, 1) 0%,
        rgba(176, 198, 198, 1) 58%,
        rgba(131, 131, 163, 1) 100%);
    position: relative;
    top: 62px;
    bottom: 62px;
    left: 0;
    right: 0;
    min-height: 226.5px;
    height: min-content;
    font-size: 50px;
    font-weight: 900;
    font-style: italic;
}

.current-temp {
    color: #000;
    text-decoration: none;
}

.day {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    background: transparent;
    display: inline-block;
    width: 120px;
    height: 60px;
    font-size: 14px;
    font-weight: 200;
    text-align: center;
}

.enter-city {
    background: transparent;
    border: 0px;
    padding: 0;
    margin: 0;
    width: 80%;
    height: 100%;
    color: #000;
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 200;
}

.github-logo {
height: 10px;
}

.github {
    text-decoration: none;
    text-align: center;
    font-size: 10px;
}

.humidity {
    bottom: 55px;
    left: 278px;
}
.icon-arrow {
    color: #f9f9f9;
    font-size: 60px;
}

.location {
    background: #000;
    color: #f9f9f9;
    display: inline;
    font-size: 50px;
    height: 62px;
    line-height: 60px;
    position:absolute;
    right: 0px;
    text-align: center;
    top: -1px;
    transition: all 300ms ease;
    width: 60px;
}

.location:hover {
    color: #000;
    cursor: pointer;
}

.new-city {
    border: 1px solid #000;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 598px;
    /*90%*/
    height: 60.15px;
    font-size: 40px;
    font-weight: 200;
}

.one {
    border-left: 1px solid #000;
}

.search {
    border-width: 0px;
    background: #000;
    position: absolute;
    top: -1px;
    right: 60px;
    height: 62px;
    width: 60px;
    padding: 0;
    transition: all 300ms ease;
    color: #f9f9f9;
}

.search:hover {
    color: #000;
    cursor: pointer;
}

.temperature {
    bottom: 90px;
    left: 80px;
}

.temperature-forecast {
    font-size: 28px;
    line-height: 36px;
    padding: 2px 0;
}

.time {
    bottom: 75px;
    left: 425px;
}

.today {
    font-size: 14px;
    width: 120px;
    font-weight: normal;
    letter-spacing: normal;
    text-align: center;
    height: 60px;
    border: 1px solid #000;
    background: transparent;
    position: absolute;
    font-weight: 200;
    font-style: normal;
}

.total {
    position: relative;
    width: 600px;
    height: 350px;
    margin: 60px auto 0px;
    overflow-x: auto;
    padding: 0px;
}

.value-humidity {
    font-size: 30px;
    line-height: 36px;
    padding: 2px 0;
}

.value-temperature {
    font-size: 30px;
    font-weight: 900;
    font-style: italic;
    line-height: 36px;
    padding: 2px 0;
}

.value-time {
    font-size: 30px;
    font-weight: 900;
    font-style: italic;
    line-height: 36px;
    padding: 2px 0;
}

.value-wind {
    font-size: 30px;
    line-height: 36px;
    padding: 2px 0;
}

.wind {
    bottom: 20px;
    left: 150px;
}